{% extends 'app.html' %}

{% load has_permission %}
{% load has_group %}
{% load method_override %}
{% load map_status %}

{% block title %}{{ sample.name }}{% endblock %}

{% block content %}
	<div class="bg-white rounded-lg">
		<div class="p-4 pl-6">

            <h1
                class="text-2xl mb-10"
            >
                <span class="text-gray-600">Analýza vzorky  </span>
                <a
                    class="text-blue-600 hover:underline ml-1"
                    href="{% url 'sample-detail' analysis.sample.id %} url }}"
                >
                    {{ analysis.sample.name | truncatewords:5 }}
                </a>
            </h1>

            {# stav #}
            {% component_block 'ui-label' key="stav" center=True %}
                {% slot content %}
                    <div class="relative flex items-center">
                        {% component 'status-icon' status=analysis.status style="position:absolute; left:-1em;" %}
                        {{ analysis.status | map_status }}
                        {% if request.user|has_group:'admin' %}
                            (<a
                                    class="text-blue-600 hover:underline"
                                    href="{% url 'user-detail' analysis.laborant.id %}"
                            >
                                {{ analysis.laborant.name }}
                            </a>)
                        {% endif %}
                    </div>
                {% endslot %}
            {% endcomponent_block %}

			{# lab #}
			{% component_block 'ui-label' key="laboratórium" center=True %}
                {% slot content %}
                    {% if request.user|has_group:'admin' %}
                        <a
                            class="text-blue-600 hover:underline"
                            href="{% url 'lab-detail' analysis.lab.id %}"
                        >
                            {{ analysis.lab.name|truncatewords:5 }}
                        </a>
                    {% else %}
                        <p>
                            {{ analysis.lab.name|truncatewords:5 }}
                        </p>
                    {% endif %}
                {% endslot %}
			{% endcomponent_block %}

			{# naradie #}
			{% component_block 'ui-label' key="náradie" %}
				{% slot content %}
                    <ul>
                    {% for tool in analysis.tools %}
                        <li>
                        {% if request.user|has_group:'admin' %}
                            <a
                                class="text-blue-600 hover:underline"
                                href="{% url 'tool-detail' tool.id %}"
                            >
                                {{ tool.name|truncatewords:5 }}
                            </a>
                        {% else %}
                            <p>
                                {{ tool.name|truncatewords:5 }}
                            </p>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
				{% endslot %}
			{% endcomponent_block %}

			{#	TODO: struktura #}
            {% if analysis.structure %}
            {% endif %}

			<div class="flex flex-row justify-end mt-5">

                {% if request.user|has_permission:'analyses.change_analysis' %}
                {% url 'analysis-edit' analysis.id as analysis_edit_url %}
				{% component 'ui-button' additional_classes="rounded-full ml-3" text="Upraviť analýzu" primary=True type="link" href=analysis_edit_url %}
                {% endif %}

                {% if request.user|has_permission:'analyses.delete_analysis' %}
                <form action="{% url 'analysis-detail' analysis.id %}" method="POST">
					{% csrf_token %}
					{% method_override 'DELETE' %}
					{% component 'ui-button' additional_classes="rounded-full ml-3" text="Vymazať analýzu" danger=True type="submit" %}
				</form>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
