{% extends 'app.html' %}

{% load obj_get %}
{% load method_override %}

{% block title %}Upraviť analýzu {{ ana.name }}{% endblock %}

{% block content %}
	<div class="bg-white rounded-lg">
		<div class="p-4 pl-6">
			<form action="{%  url 'analysis-detail' analysis.id %}" method="POST">
				{% csrf_token %}
				{% method_override 'PUT' %}

				{# vzorka #}
				{% component_block 'ui-label' key="vzorka" label_for="sample" additional_classes="mt-10" center=True %}
					{% slot content %}
						{% component 'ui-select' name="sample" items=samples additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.sample.id %}
					{% endslot %}
				{% endcomponent_block %}

				{# laborant #}
				{% component_block 'ui-label' key="laborant" label_for="laborant" additional_classes="mt-10" center=True %}
					{% slot content %}
						{% component 'ui-select' name="laborant" items=laborants additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.laborant.id %}
					{% endslot %}
				{% endcomponent_block %}

				{# lab #}
				{% component_block 'ui-label' key="laboratórium" label_for="lab" additional_classes="mt-10" center=True %}
					{% slot content %}
						{% component 'ui-select' name="lab" items=labs additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.lab.id %}
					{% endslot %}
				{% endcomponent_block %}

				{# naradie #}
				{% component_block 'ui-label' key="náradie" label_for="tools" additional_classes="mt-10" center=True %}
					{% slot content %}
						{% component 'ui-select' name="tools" items=tools additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.tools.0.id %}
					{% endslot %}
				{% endcomponent_block %}

				{# TODO struktura #}

				<div class="flex flex-row justify-end mt-5">
					{% component 'ui-button' additional_classes="rounded-full w-24" text="Uložiť" type="submit" primary=True %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
