{% extends 'app.html' %}

{% load replace %}
{% load static %}
{% load obj_get %}
{% load method_override %}

{% block title %}Upraviť analýzu {{ analysis.name }}{% endblock %}

{% block script %}
    {% if analysis.structure %}
        <script src="{% static 'js/ext/jsme.nocache.js' %}"></script>
        <script defer>
            // JSApplet for chemical structures
            setTimeout(function () {
                window.jsmeApplet = new JSApplet.JSME("jsme", {
                    options: "newlook"
                });
                {% obj_get request.POST 'structure' as old_value %}
                {% firstof old_value analysis.structure as structure %}
                window.jsmeApplet.readMolFile(`{{ structure|replace:'\\,\\\\'}}`);
            }, 750);

            // read applet into hidden textarea before submit
            const sampleForm = document.querySelector('#sampleForm');
            sampleForm.addEventListener("submit", (event) => {
                event.preventDefault();
                const data = window.jsmeApplet.molFile();
                document.querySelector('textarea[name="structure"]').value = data;
                sampleForm.submit();
            });
        </script>
    {% endif %}

    <script defer>
        const selectTemplate = `<div class="flex flex-row relative items-center mb-3">
                                    {% component 'ui-select' name="tools" items=tools additional_classes="text-gray-700 w-full" required=True errors=errors selected=tool.id %}
                                    <a href="javascript:void(0)" class="absolute text-xl remove-tool-btn" style="right:-1em;">&times;</a>
                                </div>`;

        setTimeout(function () {
            const toolsWrapper = document.querySelector('#toolsWrapper');
            document.addEventListener('click', function (e) {
                if (e.target && e.target.id === 'addToolBtn') {
                    toolsWrapper.insertAdjacentHTML('beforeend', selectTemplate);
                }
                if (e.target && e.target.classList.contains('remove-tool-btn')) {
                    e.target.parentNode.remove();
                }
            });
        }, 750);
    </script>
{% endblock %}

{% block content %}
	<div class="bg-white rounded-lg">
		<div class="p-4 pl-6">
			<form action="{%  url 'analysis-detail' analysis.id %}" method="POST" id="sampleForm">
				{% csrf_token %}
				{% method_override 'PUT' %}

                <h1 class="text-2xl mb-10">Upraviť analýzu</h1>

                {# vzorka #}
				{% component_block 'ui-label' key="vzorka" label_for="sample" additional_classes="mt-10" center=True %}
					{% slot content %}
						{% component 'ui-select' name="sample" items=samples additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.sample %}
					{% endslot %}
				{% endcomponent_block %}

				{# laborant #}
				{% component_block 'ui-label' key="laborant" label_for="laborant" center=True %}
					{% slot content %}
						{% component 'ui-select' name="laborant" items=laborants additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.laborant.id %}
					{% endslot %}
				{% endcomponent_block %}

				{# lab #}
				{% component_block 'ui-label' key="laboratórium" label_for="lab" center=True %}
					{% slot content %}
						{% component 'ui-select' name="lab" items=labs additional_classes="text-gray-700 w-1/4" required=True errors=errors selected=analysis.lab.id %}
					{% endslot %}
				{% endcomponent_block %}

                {# náradie #}
                {% component_block 'ui-label' key="náradie" label_for="tools"%}
                    {% slot content %}
                        <div class="flex-col w-1/4">
                            <div id="toolsWrapper" class="flex-col">
                                {% for tool in analysis.tools %}
                                    <div class="flex flex-row relative items-center mb-3">
                                        {% component 'ui-select' name="tools" items=tools additional_classes="text-gray-700 w-full" required=True errors=errors selected=tool.id %}
                                        <a href="javascript:void(0)" class="absolute text-xl remove-tool-btn" style="right:-1em;">&times;</a>
                                    </div>
                                {% endfor %}
                            </div>
                            {% component 'ui-button' type='link' href="javascript:void(0)" secondary=True id="addToolBtn" text="+ Pridať nástroj" additional_classes="rounded-full" %}
                        </div>
                    {% endslot %}
                {% endcomponent_block %}

                {#	struktura #}
                {% if analysis.structure %}
                    {% component_block 'ui-label' key="štruktúra" additional_classes="h-64 w-full" %}
                        {% slot content %}
                            <textarea name="structure" hidden></textarea>
                            <div class="w-4/6">
                                <div id="jsme" class="flex w-full h-full justify-center mx-auto"></div>
                            </div>
                        {% endslot %}
                    {% endcomponent_block %}
                {% endif %}

				<div class="flex flex-row justify-end mt-5">
					{% component 'ui-button' additional_classes="rounded-full w-24" text="Uložiť" type="submit" primary=True %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
