[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
migrate = "python manage.py migrate"
seed = "python manage.py seed app --number=10"
loaddata = "python manage.py loaddata app.json -v 3"
flush = "python manage.py flush --noinput"
test = "python manage.py test"
lint = "black . --check --diff"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
black = "*"
djangorestframework = "*"
django-components = "*"
django-seed = "*"
django-method-override = "*"

[dev-packages]

[requires]
python_version = "3.9"
