{% extends 'app.html' %}

{% load component_tags %}
{% load concat_url %}
{% load get_current_url %}
{% load get_table_row_class %}

{% block title %}Vzorky{% endblock %}

{% block script %}
<script defer>
	setTimeout(function () {
		const form = document.querySelector('#searchForm');
		form.addEventListener('submit', event => {
			event.preventDefault();
			const input = document.querySelector('#searchForm input[type="search"]');
			if (!input.value.trim())
				input.remove();
			form.submit();
		})
	}, 750);
</script>
{% endblock %}

{% block content %}

	<div class="bg-white rounded-lg">
	<div class="p-4 pl-6 flex justify-between">
		<h1 class="text-2xl">
			Vzorky
		</h1>
		<div class="flex justify-end">
			<form action="{{ request.build_absolute_uri }}" id="searchForm" class="inline">
				{% if 'sort' in request.GET %}
					<input type="hidden" name="sort" value="{{request.GET.sort}}">
				{% endif %}

				{% if 'direction' in request.GET %}
					<input type="hidden" name="direction" value="{{request.GET.direction}}">
				{% endif %}

				{% component 'ui-search' additional_classes="shadow-sm border mr-3" value=request.GET.search extendable="True" %}
			</form>

			{% get_current_url request as current_url %}
			{% concat_url current_url '/new' as url_new %}
			{% component 'ui-button' icon="fas fa-plus" additional_classes="rounded-full" text="Pridať vzorku" type="link" href=url_new primary=True %}
		</div>
	</div>

	{% component_block 'ui-table' options=options %}
		{% slot table_item %}
			<td class="text-gray-600 {% get_table_row_class options 0 %}">
				<p>{{ item.id }}</p>
			</td>
			<td class="{% get_table_row_class options 1 %}">
				{{  item.name }}
				{#			{{  (strlen($item->name) < 32 ) ? $item->name  : substr($item->name,0,29).'...'  }}#}
			</td>
			<td class="{% get_table_row_class options 2 %}">
			>
{#				{{  $item->user->login }}#}
				user
			</td>
			<td class="{% get_table_row_class options 3 %}">
				{{  item.created_at }}
			</td>
		{% endslot %}
	{% endcomponent_block %}
</div>
{% endblock %}
