{% if messages %}
<div
	id="alert"
	class="flex justify-center mt-10 z-50 absolute w-screen"
>
	{% for message in messages %}
	{% if forloop.counter0 == 0 %} {# we only care about first message #}
	<div class="bg-white w-96 shadow relative">
		<div
				class="absolute close-btn top-0 right-0 w-4 h-4 flex justify-center text-gray-800 shadow hover:cursor-pointer"
				style="right: -1rem; background-color: RGBA(0, 0, 0, 0.30);"
		>
			<i class="fas fa-times"></i>
		</div>
		<div
				class="w-full h-2
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				bg-red-700
 				{% endif %}
 				{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				bg-green-500
 				{% endif %}
				"
		>&nbsp;
		</div>
		<div class="text-gray-800 p-3 text-center">
			<p>
				{{ message }}
			</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}

